# Security Config
SECRET_KEY=generate_your_own_secure_key_here

# Database Config (For running without Docker)
DATABASE_URL=postgresql://postgres:password@localhost:5432/your_database

# Stripe Configuration (Get these from your Stripe Dashboard)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Email Configuration (Your SMTP server credentials)
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
