# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Coverage and Testing
htmlcov/
.coverage

# Database
*.sqlite
*.db

# IDEs
.vscode/
.idea/
stripe.exe
socket_test.html
